/* navbar */
nav.bg-primary{
  background: linear-gradient(to bottom, #00AFFF, #0d6efd)!important;
}
.collapse .navbar-nav .nav-item a.nav-link{
  font-size: 16px;
}
.collapse .navbar-nav .nav-item a.nav-link:hover{
  color: #fff;
}
.collapse .navbar-nav .dropdown .dropdown-menu li a.dropdown-item{
  font-size: 15.5px;
  color: rgba(225,225,225);
  transition: 0.5s;
}
.collapse .navbar-nav .dropdown .dropdown-menu li a.dropdown-item:hover{
  color: white;
}
.navbar-collapse{
  transition: 1.2s;
}
.navbar-collapse a.navbar-brand{
  display: none;
}
.container > a.navbar-brand{
  display: block;
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
  margin-right: 0px;
  transition: 1s;
}
.container > a.navbar-brand:hover{
  color: #fff;
  transform: scale(1.05);
}
.d-flex button.btn{
  color: white;
  border: 1px solid #fff;
  transition: 1s;
}
.d-flex button.btn:hover{
  background: blue;
}
nav.shadow-blck{
  box-shadow: 0px 0px 3px #222;
}
button.navbar-toggler{
  border: 4px solid white;
}
button.navbar-toggler:hover{
  border: 4px solid white;
}
button.navbar-toggler:focus{
  text-shadow: none;
  border: 4px solid transparent;
}
nav .container .collapse .dropdown-menu{
  background: #0d6efd!important;
}
nav .container .collapse .dropdown-menu a:hover{
  background: rgba(255,255,255,0.3)!important;
}
/* navbar end */


@media (min-width: 992px){
  /* navbar */
  .container > a.navbar-brand{
    display: none;
  }
  .navbar-collapse a.navbar-brand{
    display: block;
    font-family: 'Viga', sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    margin-right: 30px;
    transition: 1s;
  }
  .navbar-collapse a.navbar-brand:hover{
    color: #fff;
    transform: scale(1.1);
  }
  nav .container .collapse .dropdown-menu{
    margin-top: 10px;
  }
  /* navbar end */
}
