.navbar-collapse{
  transition: 1.2s;
}
.navbar-collapse a.navbar-brand{
  display: none;
}
.container > a.navbar-brand{
  display: block;
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
  margin-right: 0px;
}
.d-flex button.btn{
  color: white;
  border: 1px solid #fff;
}
.d-flex button.btn:hover{
  background: blue;
}


@media (min-width: 992px){
  .container > a.navbar-brand{
    display: none;
  }
  .navbar-collapse a.navbar-brand{
    display: block;
    font-family: 'Viga', sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    margin-right: 40px;
  }
}
